<h3>Editing genre</h3>

<div class="row">
  <div class="span12">

    <%= render 'form' %>

    <%= link_to 'Show', @genre %> |
    <%= link_to 'Back', genres_path %>

  </div>

  <p>&nbsp;</p>
</div>

