<h3>Editing artist</h3>

<div class="row">
  <div class="span12">

    <%= render 'form' %>

    <%= link_to 'Show', @artist %> |
    <%= link_to 'Back', artists_path %>

  </div>

  <p>&nbsp;</p>
</div>

