<div class="navbar navbar-footer">
  <div class="navbar-inner">
    <div class="navbar-container">

      <ul class="nav">
        <li>
          <a href="https://twitter.com/flatironschool">
            <i class="icon-twitter icon-2x"></i>
          </a>
        </li>
        <li>
          <a href="http://www.facebook.com/FlatironSchool">
            <i class="icon-facebook-sign icon-2x"></i>
          </a>
        </li>
        <li>
          <a href="http://instagram.com/flatironschool">
            <i class="icon-camera-retro icon-2x"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/gglin/playlister-rails">
            <i class="icon-github-alt icon-2x"></i>
          </a>
        </li>
      </ul>

      <ul class="nav pull-right" style="display:table-cell; vertical-align:middle">
        <li>
          <a>
          &copy; 2013. Flatiron 002 Team Rogue.  All Your Music Are Belong To Us.
        </a>
        </li>
      </ul>
      
    </div>
  </div>
</div>